@media screen and (min-width: 320px) {

    .container {
        min-width: 320px;
        padding: 0px;
        margin: auto;
    }


    /* ------------------header */

    .container_wrap {
        display: flex;
        min-width: max-content;
        align-items: center;
        justify-content: space-around;
        padding-top: 0px;
    }

    .burger_btn {
        display: block;
    }

    .logo_header {
        width: 100px;
        padding-left: 70px;
        padding-right: 70px;

    }

    .mobil_header {
        display: block;
    }

    .box_head {
        display: none;
    }

    .list_box {
        display: none;
    }

    /* ------------------section_one */

    .section_one {
        min-width: min-content;
        background-color: #293141;
        background-image: none;
        padding-bottom: 0px;
        min-height: 100px;

    }

    .box_one {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px 0px 0px;
        height: auto;

    }



    .titne_one {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 16px 0px 16px 0px;
        margin-bottom: 0px;
        font-size: calc(22px + 26 * (100vw / 1300));
    }

    .text_one {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 0;
        margin-bottom: 30px;
        font-size: calc(16px + 8 * (100vw / 1300));
    }

    .text_one::before {
        display: none;
    }

    .btn_prais {
        font-family: 'RobotoCondensed';
        min-width: 35%;
        height: 30px;
        padding: 10px 20px 10px 20px;
        font-weight: 700;
        font-size: calc(16px + 0 * (100vw / 1300));
        margin-bottom: 20px;
    }

    .down_bottom {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .text_down {
        font-size: calc(20px - 6 * (100vw / 1300));
    }

    .down_svg {
        bottom: -20px;
        width: 33px;
        height: 33px;
    }

    .down_svg_two {
        width: 33px;
        height: 33px;
    }

    /* ----------------------section_one2 */

    .section_one2 {
        min-width: min-content;
        background-color: #293141;
        background-image: none;
        padding-bottom: 0px;
        min-height: 100px;

    }

    .text_one2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-left: 0;
        margin-bottom: 30px;
        font-size: calc(16px + 8 * (100vw / 1300));
    } 

    .text_one2::before {
        display: none;
    }

    .role_six2 {
        display: flex;
        
        flex-wrap: wrap;
        justify-content: center;
    }

    .slider_img_two2 {
        width: 300px;
    }



    /* ------------------section_two */

    .two {
        min-width: min-content;
    }

    .section_flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section_two {
        min-height: min-content;
        background-image: none;
        padding: 0px;
    }


    .title_section_two {
        text-align: center;
        font-size: calc(24px + 24 * (100vw / 1300));
    }

    .text_section_two {
        text-align: center;
        padding-left: 0px;
        font-weight: 300;
        font-size: calc(18px + 2 * (100vw / 1300));
    }

    .text_section_two::before {
        display: none;
    }

    .text_section {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        padding: 0px 20px 20px 20px;
        font-size: calc(14px + 2 * (100vw / 1300));
    }

    .viem_text {
        margin-left: 0px;
        margin-right: 0px;
    }

    .btm_box {
        display: flex;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }

    .btn_two {
        display: inline-flex;
        width: 30%;
        height: 46px;
        font-size: 14px;
    }

    .btnTwo {
        display: flex;
        width: 40%;
        height: 46px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .slider_clik {
        width: 300px;

    }

    .slick_role {
        min-width: 300px;
        max-height: 260px;

    }


    .slick_role .slick-dots li button {
        display: none;

    }


    /* ------------------section_thre */

    .section_thre {
        min-width: min-content;
        background-color: #293141;
        background-image: none;
        min-height: 505px;
    }

    .blok_thre {
        min-width: 80%;
        padding: 40px 0px 40px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title_thre_box {
        margin-left: 10px;
        width: 100%;
    }

    .title_thre {
        text-align: center;
        margin-bottom: 16px;
        font-size: calc(24px + 24 * (100vw / 1300));
    }

    .svg_thre {
        width: 56px;
        height: 56px;
        margin-bottom: 10px;

    }

    .title_name {
        font-size: calc(16px + 4 * (100vw / 1300));


    }

    .text_thre {
        margin-bottom: 15px;
        font-size: calc(12px + 6 * (100vw / 1300));

    }


    /*------------------------ section_five */

    .section_five {
        min-width: min-content;
        background-image: none;
        background-color: #006dca;
        padding: 30px 0px 30px 0px;
    }

    .form_flex {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .form_flex_h {
        text-align: center;
    }

    .form_title {
        color: #fff;
        font-size: calc(24px + 24 * (100vw / 1300));

    }

    .form_text {
        text-align: center;
        padding: 0px;
        color: #fff;
        font-size: calc(16px + 10 * (100vw / 1300));

    }

    .form_text::before {
        display: none;
    }

    .form_modal {
        width: 90%;
    }

    .serv_input {
        padding: 0px;
        width: 95%;
    }

    .name_input {
        padding: 0px;
        width: 95%;
    }

    .tel_input {
        padding: 0px;
        width: 95%;
    }

    .click_down_form {
        width: 98.5%;
        min-height: 60px;
        font-weight: 700;
        font-size: calc(20px - 6 * (100vw / 1300));

    }

    /* ---------------drop_menu */

    .ul_menu {
        width: 90%;
        height: 250px;
    }
    /*  */

    /* -----section_seven------------- */

    .section_seven_box {
        background-color: #293141;
        padding-bottom: 80px;
    }

    .autom {
        background: none;
    }

    .block__mobile {
        padding: 20px;
    }

    .title_seven {
        font-size: calc(20px + 16 * (100vw / 1300));
    }

    .box_section_seven {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box_item {
        width: 290px;
    }

    .text_seven {
        width: 290px;
        font-size: calc(12px + 4 * (100vw / 1300));
    }

    .box_down {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .text__sev {
        font-size: calc(20px + 6 * (100vw / 1300));
    }

    .svg__seven {
        width: 44px;
        height: 44px;
    }

    .svg__seven svg {
        width: 24px;
        height: 24px;
    }

    .name__down {
        font-size: calc(16px + 4 * (100vw / 1300))
    }

    


    /*------------------- section_eight---- */

    .section_seven_box2 {
        background-color: #293141;
        position: relative;
        text-align: right;
        border-top: 1px solid #dcdcdc;
        padding-bottom: 100px;
    }

    .office {
        background: none;
        background-size: cover;
        clip-path: polygon(35% 0, 100% 0%, 100% 100%, 0% 100%);;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        fill: inherit;
    }

    .box__title_seven {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0px;

    }

    .title_sec_eight {
        font-size: calc(25px + 11 * (100vw / 1300));
    }

    .price {
        width: 290px;
        padding: 10px 0px 10px 0px;
    }

    .text_eight {
        width: 290px;
        text-align: center;
        padding: 0px 10px 0px 10px;
    }

    .price_eight {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .price_eight svg {
        width: 24px;
        height: 24px;
    }

    .textdown {
        font-size: calc(16px + 4 * (100vw / 1300));
    }

    /* ----------------section_ten*----------*/

    .section_seven_box1 {
        background-color: #293141;
        padding-bottom: 130px;
    }

    .car {
        background: none;
    }

    .title_section_ten {
        font-size: calc(20px + 28 * (100vw / 1300));
        font-weight: 300;
        text-align: center;
    }

    .text_section_ten {
        font-size: calc(16px + 8 * (100vw / 1300));
        padding-left: 0px;
        text-align: center;

    }

    .block__ten {
        padding: 15px;
    }

    .text_section_ten::before {
        display: none;
    }

    .title_ten_img {
        width: 290px;
        margin: 30px 0px;
    }

    .text_ten {
        font-size: calc(12px + 4 * (100vw / 1300));
    }

    .list_text_ten {
        font-size: calc(12px + 4 * (100vw / 1300));
    }

    /* ---------------footer */

    .footer {
        min-width: min-content;
    }

    .footer_up {
        padding: 20px 0px 20px 0px;
    }

    .btn_up {
        font-size: calc(22px - 8 * (100vw / 1300));

    }

    .btn_svg {
        width: 33px;
        height: 33px;
    }

    .footer_cont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo_mob {
        display: contents;
    }

    .logo_footer {
        width: 160px;
        margin-bottom: 20px;
    }

    .text_icon {
        font-size: 22px;
        margin-bottom: 20px;
    }


    .svg_map {
        width: 37px;
        height: 37px;
    }


    .list_footer {
        display: none;
    }

    .footer_nav_inf {
        display: flex;
        flex-direction: column;
    }

    .footer_map {
        width: 260px;
    }

    .title_footer {
        margin-bottom: 10px;
        font-size: calc(26px - 10 * (100vw / 1300));

    }

    .text_item {
        font-size: calc(26px - 10 * (100vw / 1300));


    }

    .item_foter {
        font-size: calc(26px - 10 * (100vw / 1300));

    }


    .blok_bootom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text_blok {
        color: #ebebeb;
        font-size: calc(22px - 10 * (100vw / 1300));
    }

    .footer_blok_n {
        text-decoration: none;
        color: #ebebeb;
        font-size: calc(22px - 10 * (100vw / 1300));

    }

}




/* --------Table-------------- */

@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
        padding-left: 15px;
        padding-right: 15px;
    }

    /* ------------------------header--------------- */

    .container_wrap {
        padding-top: 10px;

    }

    .burger_btn {
        display: none;
    }

    .logo_header {
        width: 120px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .mobil_header {
        display: none;
    }

    .box_head {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }


    .adderss_list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .tel_header {
        font-size: 10px;
    }

    .addres_tel {
        font-size: 10px;
        margin-left: 0px;
        padding-left: 10px;
    }

    .btn_head {
        margin-left: 10px;
        font-weight: 500;
        font-size: 12px;
        height: 30px;
        padding: 0 5px 0 5px;
    }

    .underline_head {
        display: block;
    }

    .underline_head::after {
        display: block;
    }

    .lng {
        margin-left: 10px;
    }


    .list_box {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }


    .list_flex {
        display: block;
        padding: 0px 5px 0px 5px;
    }

    .slidr_head {
        display: block;
        overflow: hidden;
        padding: 0px 0px 10px 0px;
        font-size: calc(14px + 6 * (100vw / 1300));

    }

    /* ----------------section_one------------- */

    .section_one {
        min-width: min-content;
        min-height: 0px;
        background-color: #f0f2f4;
        text-align: center;
        background-image: url(../imeges/section1-bg-1.png);
        background-size: cover;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100px;
    }

    .box_one {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 5%;
        padding-bottom: 50px;
        height: auto;
    }

    .titne_one {
        display: flex;
        text-align: start;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 0px 16px 0px;
    }

    .text_one {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
        padding-left: 0px;
        margin-bottom: 16px;
    }

    .text_one::before {
        display: none;
    }

    .btn_prais {
        max-width: 220px;
        height: 40px;
        font-weight: 500;
        padding: 0px 5px 0px 5px;
        margin-bottom: 0px;
    }


    .down_bottom {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .text_down {
        font-size: 14px;

    }

    .down_svg {
        width: 33px;
        height: 33px;
    }

    .down_svg_two {
        width: 33px;
        height: 33px;
    }

    /* ----------------------section_one2 */

    .section_one2 {
        min-width: min-content;
        min-height: 0px;
        background-color: #f0f2f4;
        text-align: center;
        background-image: url(../imeges/section1-bg-1.png);
        background-size: cover;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100px;
    }

    .text_one2 {
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: flex-start;
        padding-left: 0px;
        margin-bottom: 16px;
        width: 50%;
    }

    .text_one2::before {
        display: none;
    }

    .role_six2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .slider_img_two2 {
        width: 350px;
    }



    /* ----------------------section_two------ */

    .two {
        min-width: min-content;

    }

    .section_flex {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .section_two {
        width: 100%;
        height: 100%;
        background-image: none;
    }



    .title_section_two {
        text-align: start;
        font-weight: 700;
        font-size: 30px;
        padding-left: 0px;
    }

    .text_section_two {
        font-size: 20px;
        text-align: start;
        padding-left: 0px;
        margin-bottom: 20px;
    }

    .text_section_two::before {
        display: none;
    }

    .text_section {
        font-family: 'Roboto';
        color: #000;
        font-weight: 400;
        line-height: 1.5em;
        position: relative;
        padding: 0px 20px 20px 20px;
    }

    .viem_text {
        margin-right: 0px;
    }

    .btm_box {
        display: flex;
        gap: 20px;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .btn_two {
        display: inline-flex;
        width: 30%;
        height: 50px;
        font-size: 16px;
    }

    .btnTwo {
        display: flex;
        width: 40%;
        height: 50px;
        margin-bottom: 0px;
        font-size: 16px;
    }

    .slider_clik {
        width: 680px;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .slick_role {
        width: 650px;
        max-height: 100%;
        position: relative;
        overflow: hidden;
        left: 0;
        top: 0;
        margin-bottom: 10px;
    }

    .slick_role .slick-dots {
        margin-top: 15px;
    }

    .slick_role .slick-dots li button {
        display: block;
        width: 20px;
        height: 20px;
    }

    /* ----------------section_thre----------- */

    .section_thre {
        min-width: min-content;
        display: block;
        min-height: 400px;
        background-image: url(../imeges/section4-bg-1.jpg);
    }

    .blok_thre {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 50px 0px 50px 0px;

    }

    .title_thre_box {
        margin-left: 20px;
        width: 400px;
    }

    .title_thre {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .svg_thre {
        width: 56px;
        height: 56px;
        margin-bottom: 0px;
    }

    .title_name {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .text_thre {
        margin-bottom: 10px;
        font-size: 12px;
    }

    /* -------section_foor------------------- */

    .title_foor {
        font-size: 25px;
    }

    .click_down {
        font-size: 12px;
        font-weight: 700;
    }

    /* ----------------section_five-------------- */

    .section_five {
        background-image: url(../imeges/b5493f24c2eabd85724542307f7c7e83.png);
        border-top: 2px solid #f0f0f0;
        border-bottom: 2px solid #f0f0f0;
        padding: 90px 0 90px 0;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: min-content;
        padding: 40px 0px 40px 0px;
    }

    .form_flex {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .form_title {
        font-size: 30px;
    }

    .form_text {
        font-size: 20px;
        padding-left: 0px;
    }

    .form_text::before {
        display: none;
    }

    .form_modal {
        margin-right: 0px;
        width: auto;
    }

    .serv_input {
        max-width: 250px;
        height: 30px;
        font-size: 16px;
        color: black;
    }

    .name_input {
        max-width: 250px;
        height: 30px;
    }

    .tel_input {
        max-width: 250px;
        height: 30px;

    }

    .click_down_form {
        width: 75%;
        min-height: 40px;
        font-weight: 700;
        font-size: calc(20px - 6 * (100vw / 1300));

    }

    /* ---------------drop_menu */

    .ul_menu {
        width: 84%;
        max-height: 200px;
    }

    .list_menu {
        font-size: 16px;
    }

    /*  */

    /* -----section_seven------------- */

    .section_seven_box {
        background-color: #fff;
        padding-bottom: 0px;
    }

    .autom {
        background: url(../imeges/52c753b74171b094a40347adfbcfff37.jpg) no-repeat #2a3343;

    }

    .block__mobile {
        padding: 0px;
    }

    .title_seven {
        font-size: calc(20px + 16 * (100vw / 1300));
    }

    .box_section_seven {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .box_item {
        width: 390px;
    }

    .text_seven {
        width: 390px;
        font-size: calc(12px + 4 * (100vw / 1300));
    }

    .box_down {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .text__sev {
        font-size: calc(20px + 6 * (100vw / 1300));
    }

    .svg__seven {
        width: 44px;
        height: 44px;
    }

    .svg__seven svg {
        width: 24px;
        height: 24px;
    }

    .name__down {
        font-size: calc(16px + 4 * (100vw / 1300))
    }

    /*------------------- section_eight---------------- */

    .section_seven_box2 {
        background-color: #f0f2f4;
        padding-bottom: 0px;
    }

    .office {
        background: url(../imeges/8819b230805dcdb5613f63b39dbf01b4.jpg) no-repeat #2a3343;
        background-size: cover;
        clip-path: polygon(35% 0, 100% 0%, 100% 100%, 0% 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        fill: inherit;
    }

    .box__title_seven {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 5%;

    }

    .title_sec_eight {
        font-size: calc(25px + 11 * (100vw / 1300));
    }

    .price {
        width: 340px;
        padding: 30px;
    }

    .text_eight {
        width: 340px;
        text-align: center;
        padding: 0px;
    }

    .price_eight {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }

    .price_eight svg {
        width: 38px;
        height: 38px;
    }

    .textdown {
        font-size: calc(16px + 4 * (100vw / 1300));
    }

    /* ----------------section_ten*----------*/

    .section_seven_box1 {
        background-color: #fff;
        padding-bottom: 0px;
    }

    .car {
        background: url(../imeges/2cb172873b81e9ae8da7c065f6a830c2.jpg) no-repeat #2a3343;
        background-size: cover;
        clip-path: polygon(35% 0, 100% 0%, 100% 100%, 0% 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        fill: inherit;
    }

    .title_section_ten {
        font-size: calc(20px + 28 * (100vw / 1300));
        font-weight: 600;
        text-align: start;
    }

    .text_section_ten {
        font-size: calc(16px + 8 * (100vw / 1300));
        padding-left: 0px;
        text-align: start;

    }

    .block__ten {
        padding: 15px;
    }

    .text_section_ten::before {
        display: none;
    }

    .title_ten_img {
        float: right;
        width: 400px;
        margin: 30px;
    }

    .text_ten {
        font-size: calc(12px + 4 * (100vw / 1300));
    }

    .list_text_ten {
        font-size: calc(12px + 4 * (100vw / 1300));
    }

    





    /* --------------- footer----------------------- */

    .footer {
        min-width: min-content;
    }


    .btn_up {
        font-size: calc(22px - 8 * (100vw / 1300));
    }

    .btn_svg {
        width: 22px;
        height: 22px;
    }

    .footer_cont {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 40px;
    }

    .logo_footer {
        display: block;
        width: 120px;
    }

    .logo_mob {
        width: 120px;
        display: flex;
        flex-direction: column;
    }

    .text_icon {
        font-size: calc(12px + 4 * (100vw / 1300));
        margin-bottom: 0px;
    }

    .list_footer {
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px 0px;
        margin-left: 30px;
    }

    .list_footer_nav {
        width: 50%;
    }

    .footer_nav_inf {
        display: flex;
        flex-direction: row;
    }

    .footer_map {
        width: 150px;
        height: 50px;
    }

    .svg_map {
        width: 24px;
        height: 24px;
    }

    .nav_footer {
        width: auto;
    }

    .blok_bootom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .text_blok {
        color: #ebebeb;
        font-size: calc(12px + 4 * (100vw / 1300));

    }

    .footer_blok_n {
        text-decoration: none;
        color: #ebebeb;
        font-size: calc(12px + 4 * (100vw / 1300));
    }

    .title_footer {
        margin-bottom: 10px;
        font-size: calc(12px + 4 * (100vw / 1300));

    }

    .text_item {
        font-size: calc(12px + 4 * (100vw / 1300));


    }

    .item_foter {
        font-size: calc(12px + 4 * (100vw / 1300));

    }


}


/*-------------------- Desktop------------------- */

@media screen and (min-width: 1200px) {

    .container {
        min-width: 1200px;

    }

    /*------------------- header---------- */

    .container_wrap {
        padding-top: 10px;
    }

    .burger_btn {
        display: none;
    }

    .logo_header {
        width: 150px;
    }

    .mobil_header {
        display: none;
    }

    .tel_header {
        font-size: 14px;
    }

    .addres_tel {
        font-size: 14px;
        margin-left: 10px;
        padding-left: 0px;
    }

    .btn_head {
        margin-left: 20px;
        font-weight: 700;
        font-size: 14px;
        height: 40px;
        padding: 0 8px 0 8px;
    }

    .lng {
        margin-left: 20px;
    }


    .list_box {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }


    .list_flex {
        display: block;
        padding: 0px 10px 0px 10px;
    }

    .slidr_head {
        display: block;
        overflow: hidden;
        padding: 0px 0px 33px 0px;
        font-size: 20px;
    }

    .down_bottom {
        margin-left: 100px;
    }

    /*______________ section_one------------- */

    .section_one {
        width: 100%;
        min-height: 840px;
        background-color: #f0f2f4;
        text-align: center;
        background-image: url(../imeges/section1-bg-1.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100px;
    }

    .box_one {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-bottom: 0px;
        padding-top: 10%;
        height: 700px;

    }

    .titne_one {
        font-family: 'Roboto';
        font-size: 60px;
        width: 600px;
        margin-bottom: 30px;
    }

    .text_one {
        font-size: 24px;
        font-weight: 300;
        padding-left: 100px;
        width: 500px;
        margin-bottom: 33px;

    }

    .btn_prais {
        max-width: 450px;
        height: 56px;
        font-weight: 700;
        padding: 0 30px 0 30px;
        font-size: 16px;
        margin-bottom: 0px;

    }

    .down_bottom {
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .text_down {
        font-size: 14px;

    }

    .down_svg {
        width: 33px;
        height: 33px;
    }

    .down_svg_two {
        width: 33px;
        height: 33px;
    }


    /* ----------------------section_one2 */

    .section_one2 {
        min-width: min-content;
        min-height: 0px;
        background-color: #f0f2f4;
        text-align: center;
        background-image: url(../imeges/section1-bg-1.png);
        background-size: cover;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100px;
    }

    .text_one2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 100px;
        margin-bottom: 16px;
        width: 45%;
    }

    .text_one2::before {
        display: block;
    }

    .role_six2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .slider_img_two2 {
        width: 390px;
    }


    /*-------------------- section_two------------ */

    .section_two {
        width: 100%;
        height: 535px;
        background-image: url(../imeges/section2-bg-1.png);
        background-size: 50% 100%;
        background-position: top right;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;

    }

    .titne_one {
        font-size: 60px;
        margin-bottom: 30px;
    }

    .text_one {
        padding-left: 100px;
    }

    .text_one::before {
        display: block;
    }


    .title_section_two {
        font-weight: 700;
        font-size: 48px;
    }

    .text_section_two {
        font-size: 24px;
        margin-bottom: 22px;
        padding: 0 0 0 110px
    }

    .text_section_two::before {
        display: block;
    }

    .section_flex {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .text_section {
        font-family: 'Roboto';
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        position: relative;
        padding: 0px 10px 20px 40px;
    }
    
    .viem_text {
        margin-right: 100px;
    }
    
    .text_viem p {
        margin: 1em 0;
    }

    .btm_box {
        display: flex;
        gap: 10px;
        margin-bottom: 0px;
    }

    .btn_two {
        display: inline-flex;
        width: 40%;
        height: 46px;
        font-size: 14px;
    }

    .btnTwo {
        display: flex;
        width: 50%;
        height: 46px;
        margin-bottom: 0px;
        font-size: 14px;
    }

    .slider_clik {
        width: 680px;

    }

    .slick_role {
        width: 600px;
    }


    .slick_role .slick-dots {
        margin-top: 10px;
    }

    .slick_role .slick-dots li button {
        width: 15px;
        height: 15px;

    }

    /* -----------------section_thre----------------- */


    .section_thre {
        width: 100%;
        min-height: 708px;
        text-align: center;
        background-image: url(../imeges/section4-bg-1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
    }

    .blok_thre {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
    }

    .title_thre {
        font-size: 48px;
        margin-bottom: 35px;
    }

    .title_thre_box {
        margin-left: 16px;
        width: 448px;
    }

    .svg_thre {
        width: 110px;
        height: 110px;
        display: block;
    }

    .title_name {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .text_thre {
        font-size: 16px;
        margin-bottom: 34px;
    }

    /* -------section_foor------------------- */

    .title_foor {
        font-size: 36px;
    }

    .click_down {
        font-size: 14px;
        font-weight: 700;
    }

    /*---------------------- section_five -----------------------*/


    .section_five {
        background-image: url(../imeges/b5493f24c2eabd85724542307f7c7e83.png);
        border-top: 2px solid #f0f0f0;
        border-bottom: 2px solid #f0f0f0;
        padding: 90px 0 90px 0;
        background-color: #fff;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .form_title {
        color: #000;
        font-size: 48px;
    }

    .form_flex {
        display: flex;
        justify-content: space-between;
        padding: 0px;

    }

    .form_text {
        color: #000;
        text-align: start;
        font-size: 26px;
        padding-left: 100px;
    }

    .form_text::before {
        display: block;
    }

    .form_modal {
        margin-right: 60px;
    }

    .serv_input {
        padding-left: 8px;
        padding-right: 8px;
        max-width: 352px;
        height: 40px;
        font-size: 16px;
        color: black;
    }

    .name_input {
        max-width: 352px;
        height: 40px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .tel_input {
        max-width: 352px;
        height: 40px;
        padding-left: 8px;
        padding-right: 8px;

    }

    /* ---------------drop_menu */

    .ul_menu {
        width: 92%;
        max-height: 300px;
    }

    .list_menu {
        font-size: 18px;
    }

    /*  */

    /* -----section_seven------------- */

    .section_seven_box {
        background-color: #fff;
        padding-bottom: 0px;
    }

    .autom {
        background: url(../imeges/52c753b74171b094a40347adfbcfff37.jpg) no-repeat #2a3343;

    }

    .block__mobile {
        padding: 0px;
    }

    .title_seven {
        font-size: calc(20px + 16 * (100vw / 1300));
    }

    .box_section_seven {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .box_item {
        width: 100%;
    }

    .text_seven {
        width: 600px;
        font-size: calc(12px + 4 * (100vw / 1300));
    }

    .box_down {
        display: flex;
        flex-wrap: nowrap;
        gap: 0px;
    }

    .text__sev {
        font-size: calc(20px + 6 * (100vw / 1300));
    }

    .svg__seven {
        width: 66px;
        height: 66px;
    }

    .svg__seven svg {
        width: 44px;
        height: 44px;
    }

    .name__down {
        font-size: calc(16px + 4 * (100vw / 1300))
    }



    /* ----------------section_ten*----------*/

    .title_section_ten {
        font-size: calc(20px + 28 * (100vw / 1300));
        font-weight: 600;
        text-align: start;
    }

    .text_section_ten {
        font-size: calc(16px + 8 * (100vw / 1300));
        padding-left: 100px;
        text-align: start;

    }

    .block__ten {
        padding: 15px;
    }

    .text_section_ten::before {
        display: block;
    }

    .title_ten_img {
        float: right;
        width: 400px;
        margin: 30px;
    }

    .text_ten {
        font-size: calc(12px + 4 * (100vw / 1300));
    }

    .list_text_ten {
        font-size: calc(12px + 4 * (100vw / 1300));
    }


    /* --------------------footer */

    .footer {
        min-width: min-content;
    }

    .footer_cont {
        padding-bottom: 40px;
    }

    .logo_mob {
        width: 160px;
    }

    .logo_footer {
        display: block;
        width: 150px;
    }

    .text_icon {
        color: #abadb1;
        font-size: 14px;
        font-weight: 300;
    }

    .list_footer {
        width: 350px;
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap;
    }


    .footer_map {
        width: 250px;
        height: 70px;
    }

    .svg_map {
        width: 28px;
        height: 28px;
    }

    .nav_footer {
        display: flex;

    }

    .text_blok {
        font-size: 12px;
        opacity: .5;
    }

    .footer_blok_n {
        font-size: 12px;
        opacity: .5;
    }



}