
@media screen and (min-width: 200px),
(min-width: 428px)  {

    .container {
        min-width: 200px;
    }


    /* ------------------header */

    .container_wrap {
        display: flex;

    }

    .box_head {
        display: none;
    }

    .list_box {
        display: none;
    }

    /* ------------------section_one */

    .section_one {
        min-width: min-content;
        background-color: #293141;
        background-image: none;
        padding-bottom: 0px;
        min-height: 100px;

    }

    .box_one {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px 0px 0px;
        height: auto;

    }

    .logo_header {
        width: 100px;
    }

    .titne_one {
        font-size: 34px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 0px 16px 0px;
        margin-bottom: 0px;
    }

    .text_one {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        margin-bottom: 30px;
        font-size: 24px;
    }

    .text_one::before {
        display: none;
    }

    .btn_prais {
        font-family: 'RobotoCondensed';
        min-width: 35%;
        height: 30px;
        font-size: 16px;
        padding: 10px 20px 10px 20px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .down_bottom {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .down_svg {
        width: 33px;
        height: 33px;
    }

    .down_svg_two {
        width: 33px;
        height: 33px;
    }

    .text_down {
        font-size: 20px;

    }

    /* ------------------section_two */

    .two {
        min-width: min-content;
    }

    .section_flex {
        display: flex;
        flex-direction: column;
    }

    .section_two {
        min-height: min-content;
        background-image: none;
    }


    .title_section_two {
        text-align: center;
        font-size: 52px;
    }

    .text_section_two {
        font-size: 35px;
        text-align: center;
        padding-left: 0px;
        font-weight: 300;
    }

    .text_section_two::before {
        display: none;
    }

    .text_section {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 400;
        padding: 0px 50px 20px 50px;
    }

    .viem_text {
        margin-right: 0px;
    }

    .btm_box {
        display: flex;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }

    .btn_two {
        display: inline-flex;
        width: 35%;
        height: 100px;
        font-size: 28px;
    }

    .btnTwo {
        display: flex;
        width: 45%;
        height: 100px;
        margin-bottom: 20px;
        font-size: 28px;
    }

    .slick_role .slick-dots {
        margin-top: 15px;
    }

    .slick_role .slick-dots li button {
        width: 20px;
        height: 20px;
        
    }


    /* ------------------section_thre */

    .section_thre {
        min-width: min-content;
        background-color: #293141;
        background-image: none;
    }

    .blok_thre {
        min-width: 80%;
        padding: 40px 0px 40px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title_thre_box {
        min-width: 500px;
    }

    .title_thre {
        text-align: center;
        font-size: 48px;
    }

    .svg_thre {
        width: 35%;
        height: 35%;
        margin-bottom: 10px;
    }

    .title_name {
        font-size: 30px;
    }

    .text_thre {
        font-size: 20px;
    }


    /*------------------------ section_five */

    .section_five {
        min-width: min-content;
        background-image: none;
        background-color: #006dca;
        padding: 30px 0px 30px 0px;
    }

    .form_flex {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .form_flex_h {
        text-align: center;
    }

    .form_title {
        color: #fff;
    }

    .form_text {
        text-align: center;
        min-width: 750px;
        padding: 0px;
        color: #fff;
    }

    .form_text::before {
        display: none;
    }

    .form_modal {
        width: 90%;
    }

    .serv_input {
        width: 95%;
    }

    .name_input {
        width: 95%;
    }

    .tel_input {
        width: 95%;
    }

    .click_down_form {
        width: 98.5%;
        min-height: 60px;
        font-size: 20px;
        font-weight: 700;
    }

    /* ---------------drop_menu */

    .ul_menu {
        min-width: 95.8%;
        height: 250px;
    }

    /* ---------------footer */
    
    .footer {
        min-width: min-content;
    }

    .footer_up {
        padding: 20px 0px 20px 0px;
    }

    .btn_up {
        font-size: 22px;
    }

    .btn_svg {
        width: 33px;
        height: 33px;
    }

    .footer_cont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo_footer {
        width: 250px;
        margin-bottom: 20px;
    }

    .text_icon {
        font-size: 22px;
        margin-bottom: 20px;
    }


    .svg_map {
        width: 37px;
        height: 37px;
    }


    .list_footer {
        display: none;
    }

    .footer_nav_inf {
        display: flex;
        flex-direction: column;
    }

    .footer_map {
        width: 400px;
    }

    .title_footer {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .text_item {
        font-size: 26px;

    }

    .item_foter {
        font-size: 26px;
    }


    .blok_bootom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text_blok {
        font-size: 22px;
        color: #ebebeb;
    }

    .footer_blok_n {
        font-size: 22px;
        text-decoration: none;
        color: #ebebeb;

    }










}




/* --------Table-------------- */

@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
        padding-left: 15px;
        padding-right: 15px;
    }

    /* ------------------------header--------------- */

    .box_head {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }


    .adderss_list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .addres_tel {
        margin-left: 0px;
        padding-left: 10px;
    }

    .btn_head {
        margin-left: 10px;
        font-weight: 500;
        font-size: 12px;
    }

    .underline_head {
        display: block;
    }

    .underline_head::after {
        display: block;
    }

    .lng {
        margin-left: 10px;
    }


    .list_box {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }


    .list_flex {
        display: block;
        padding: 0px 5px 0px 5px;
    }

    .slidr_head {
        display: block;
        overflow: hidden;
        padding: 0px 0px 10px 0px;
        font-size: 18px;
    }

    /* ----------------section_one------------- */

    .section_one {
        min-width: min-content;
        min-height: 0px;
        background-color: #f0f2f4;
        text-align: center;
        background-image: url(../imeges/section1-bg-1.png);
        background-size: cover;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100px;
    }

    .box_one {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 5%;
        padding-bottom: 50px;
        height: auto;
    }

    .titne_one {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 30px;
        padding: 16px 0px 16px 0px;
    }

    .text_one {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0px;
        margin-bottom: 16px;
        font-size: 16px;
    }

    .text_one::before {
        display: none;
    }

    .btn_prais {
        max-width: 220px;
        height: 40px;
        font-weight: 500;
        font-size: 14px;
        padding: 0px 5px 0px 5px;
        margin-bottom: 0px;
    }


    .down_bottom {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .text_down {
        font-size: 14px;

    }

    .down_svg {
        width: 33px;
        height: 33px;
    }

    .down_svg_two {
        width: 33px;
        height: 33px;
    }

    /* ----------------------section_two------ */

    .two {
        min-width: min-content;

    }

    .section_two {
        width: 100%;
        height: 100%;
        background-image: none;

    }

    .section_flex {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .title_section_two {
        text-align: start;
        font-weight: 700;
        font-size: 30px;
        padding-left: 0px;
    }

    .text_section_two {
        font-size: 20px;
        text-align: start;
        padding-left: 0px;
        margin-bottom: 20px;
    }

    .text_section_two::before {
        display: none;
    }

    .text_section {
        font-family: 'Roboto';
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        position: relative;
        padding: 0px 20px 20px 20px;
    }

    .viem_text {
        margin-right: 0px;
    }

    .btm_box {
        display: flex;
        gap: 20px;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .btn_two {
        display: inline-flex;
        width: 35%;
        height: 56px;
        font-size: 16px;
    }

    .btnTwo {
        display: flex;
        width: 45%;
        height: 56px;
        margin-bottom: 0px;
        font-size: 16px;
    }

    .slick_role .slick-dots {
        margin-top: 15px;
    }

    .slick_role .slick-dots li button {
        width: 20px;
        height: 20px;
        
    }

    /* ----------------section_thre----------- */

    .section_thre {
        min-width: min-content;
        display: block;
        min-height: 400px;
        background-image: url(../imeges/section4-bg-1.jpg);
    }

    .blok_thre {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 50px 0px 50px 0px;

    }

    .title_thre_box {
        width: 448px;
    }

    .title_thre {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .svg_thre {
        width: 56px;
        height: 56px;
        margin-bottom: 0px;
    }

    .title_name {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .text_thre {
        margin-bottom: 10px;
        font-size: 16px;
    }

    /* -------section_foor------------------- */

    .title_foor {
        font-size: 25px;
    }

    .click_down {
        font-size: 12px;
        font-weight: 700;
    }

    /* ----------------section_five-------------- */

    .section_five {
        min-width: min-content;
        padding: 40px 0px 40px 0px;
    }

    .form_title {
        font-size: 30px;
    }

    .form_flex {
        display: flex;
        justify-content: space-around;
    }

    .form_text {
        font-size: 20px;
        padding-left: 0px;
    }

    .form_text::before {
        display: none;
    }

    .serv_input {
        max-width: 250px;
        height: 30px;
        font-size: 16px;
        color: black;
    }

    .name_input {
        max-width: 250px;
        height: 30px;
    }

    .tel_input {
        max-width: 250px;
        height: 30px;
        
    }

    /* ---------------drop_menu */

    .ul_menu {
        width: 89.5%;
        max-height: 200px;
    }

    .list_menu {
        font-size: 16px;
    }


    /* --------------- footer----------------------- */

    .footer {
        min-width: min-content;
    }

    .footer_cont {
        padding-bottom: 40px;
    }

    .logo_footer {
        display: block;
        max-width: 120px;
    }

    .text_icon {
        max-width: 120px;
    }

    .list_footer {
        max-width: 220px;
        display: flex;
        flex-wrap: wrap;
    }

    .list_footer_nav {
        width: 50%;
    }

    .footer_map {
        max-width: 150px;
        height: 70px;
    }

    .nav_footer {
        min-width: 180px;

    }


}


/*-------------------- Desktop------------------- */

@media screen and (min-width: 1200px) {

    .container {
        min-width: 1200px;

    }

    /*------------------- header---------- */

    .addres_tel {
        margin-left: 10px;
        padding-left: 0px;
    }

    .btn_head {
        margin-left: 20px;
        font-weight: 700;
        font-size: 14px;
    }

    .lng {
        margin-left: 20px;
    }


    .list_box {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }


    .list_flex {
        display: block;
        padding: 0px 10px 0px 10px;
    }

    .slidr_head {
        display: block;
        overflow: hidden;
        padding: 0px 0px 33px 0px;
        font-size: 20px;
    }

    .down_bottom {
        margin-left: 100px;
    }

    /*______________ section_one------------- */

    .section_one {
        width: 100%;
        min-height: 840px;
        background-color: #f0f2f4;
        text-align: center;
        background-image: url(../imeges/section1-bg-1.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100px;
    }

    .box_one {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-bottom: 0px;
        padding-top: 10%;
        height: 700px;
    
    }

    .titne_one {
        font-family: 'Roboto';
        font-size: 60px;
        width: 600px;
        margin-bottom: 30px;
    }

    .text_one {
        font-size: 24px;
        font-weight: 300;
        padding-left: 100px;
        width: 500px;
        margin-bottom: 33px;
    
    }

    .btn_prais {
        max-width:  450px;
        height: 56px;
        font-weight: 700;
        padding: 0 30px 0 30px;
        font-size: 16px;
        margin-bottom: 0px;

    }

    .down_bottom {
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .text_down {
        font-size: 14px;

    }

    .down_svg {
        width: 33px;
        height: 33px;
    }

    .down_svg_two {
        width: 33px;
        height: 33px;
    }


    /*-------------------- section_two------------ */

    .section_two {
        width: 100%;
        height: 535px;
        background-image: url(../imeges/section2-bg-1.png);
        background-size: 50% 100%;
        background-position: top right;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;

    }

    .titne_one {
        font-size: 60px;
        margin-bottom: 30px;
    }

    .text_one {
        padding-left: 100px;
    }

    .text_one::before {
        display: block;
    }


    .title_section_two {
        font-weight: 700;
        font-size: 48px;
    }

    .text_section_two {
        font-size: 24px;
        margin-bottom: 22px;
        padding: 0 0 0 110px
    }

    .text_section_two::before {
        display: block;
    }

    .section_flex {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .viem_text {
        margin-right: 100px;
    }

    .btm_box {
        display: flex;
        gap: 20px;
        margin-bottom: 0px;
    }

    .slick_role .slick-dots {
        margin-top: 10px;
    }

    .slick_role .slick-dots li button {
        width: 15px;
        height: 15px;
        
    }

    /* -----------------section_thre----------------- */


    .section_thre {
        width: 100%;
        min-height: 708px;
        text-align: center;
        background-image: url(../imeges/section4-bg-1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
    }

    .blok_thre {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
    }

    .title_thre {
        font-size: 48px;
        margin-bottom: 35px;
    }

    .svg_thre {
        display: block;
    }

    .title_name {
        margin-bottom: 20px;
    }

    .text_thre {
        margin-bottom: 34px;
    }

    /* -------section_foor------------------- */

    .title_foor {
        font-size: 36px;
    }

    .click_down {
        font-size: 14px;
        font-weight: 700;
    }

    /*---------------------- section_five -----------------------*/


    .section_five {
        padding: 90px 0px 90px 0px;
    }

    .form_title {
        font-size: 48px;
    }

    .form_text {
        font-size: 26px;
        padding-left: 100px;
    }

    .form_text::before {
        display: block;
    }

    .serv_input {
        max-width: 352px;
        height: 40px;
        font-size: 22px;
        color: black;
    }

    .name_input {
        max-width: 352px;
        height: 40px;
    }

    .tel_input {
        max-width: 352px;
        height: 40px;
        
    }

    /* ---------------drop_menu */

    .ul_menu {
        width: 92%;
        max-height: 300px;
    }

    .list_menu {
        font-size: 22px;
    }

    /* --------------------footer */

    .footer {
        min-width: min-content;
    }

    .footer_cont {
        padding-bottom: 40px;
    }

    .logo_footer {
        display: block;
        max-width: 150px;
    }

    .text_icon {
        color: #abadb1;
        font-size: 14px;
        font-weight: 300;
    }

    .list_footer {
        display: flex;
        flex-wrap: wrap;
    }


    .footer_map {
        max-width: 150px;
        height: 70px;
    }

    .nav_footer {
        display: flex;

    }



}