html {
    box-sizing: border-box;
}

* *::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'RobotoCondensed';
    color: #434455;
    margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    margin-left: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
    height: auto;
}

.list {
    display: block;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    padding: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* ---------------------------header---------------------- */

.container_wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.logo_header {
    padding: 10px 0 10px 0;
}

.adderss_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_head {
    display: flex;
    margin-bottom: 20px;
}

.nav_list {
    display: flex;
    align-items: center;
}

.addres_tel {
    display: block;
    margin-left: 20px;
}

.btn_head {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f9c000;
    border-radius: 4px;
    border: 2px solid #f9c000;
    color: #000;
    font-family: 'RobotoCondensed';
    letter-spacing: 0.04em;
    font-size: 14px;
    text-align: center;
    line-height: 1em;
    padding: 0 8px 0 8px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    min-height: 40px;
    margin-left: 20px;
}

.btn_head:hover,
.btn_head:focus {
    background-color: #FFA500;
}

.list_box {
    display: flex;
    justify-content: space-between;
}

.list_flex {
    
    position: relative;
    overflow: hidden;
    display: block;
    
    margin-left: 20px;
}

.slidr_head {
    font-family: 'Roboto';
    color: #283140;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}
/* --------------------section_one --------------------*/

.section_one {
    width: 100%;
    min-height: 840px;
    background-color: #f0f2f4;
    text-align: center;
    background-image: url(../imeges/section1-bg-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;


}

.box_one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 180px;
    padding-top: 15%;
    height: 700px;
}

.titne_one {
    font-family: 'Roboto';
    font-size: 60px;
    line-height: 1em;
    /* overflow: hidden; */
    font-weight: 400;
    color: #fff;
    width: 500px;
    text-align: start;
    margin-bottom: 30px;
}

.span_one {
    color: #006dca;
}

.text_one {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5em;
    position: relative;
    padding-left: 100px;
    width: 500px;
    margin-bottom: 33px;
}

.text_one::before {
    content: '';
    position: absolute;
    left: -100px;
    top: 12px;
    width: 180px;
    height: 2px;
    background-color: #f9c000;
}

.btn_prais {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f9c000;
    border-radius: 4px;
    border: 2px solid #f9c000;
    color: #000;
    font-family: 'RobotoCondensed';
    letter-spacing: 0.04em;
    font-size: 16px;
    text-align: center;
    line-height: 1em;
    padding: 0 8px 0 8px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    height: 56px;
    padding: 0 30px 0 30px;

    
}

.down_bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 100px;
    cursor: pointer;
}

.down_svg {
    fill: #006dca;
    opacity: .2;
    position: relative;
    bottom: -12px;
    transition: opacity .3c;
}

.down_svg_two {
    fill: #006dca;
    opacity: .2;
    position: relative;
    transition: opacity .3c;
}

.text_down {
    color: #006dca;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

/*--------------------------section_two---------------------- */

.two {
    width: 100%;
    background-color: #f0f2f4;
    padding-bottom: 50px;

}

.section_two {
    width: 100%;
    height: 535px;
    background-image: url(../imeges/section2-bg-1.png);
    background-size: 50% 100%;
    background-position: top right;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;

}

.title_section_two {
    color: #293141;
    font-family: 'Roboto', Condensed;
    font-size: 48px;
    line-height: 1em;
    max-height: 2em;
    overflow: hidden;
    font-weight: 600;
    margin-bottom: 22px;
    padding-top: 50px;
}

.section_flex {
    display: flex;
}

.text_section_two {
    color: #000;
    font-size: 24px;
    font-weight: 300;
    padding: 0 0 0 110px;
    margin-bottom: 22px;

}

.text_section {
    width: 100%;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    position: relative;
    margin-right: 50px;

}

.text_viem p {
    margin: 1em 0;
}

.slider_clik {
    position: relative;
    display: block;
    user-select: none;
    touch-action: pan-y;
}

.slick_role {
    width: 596px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    left: 0;
    top: 0;
    margin-bottom: 10px;
}

.ul_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.li_galary {
    width: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: 7px;
    position: relative;
    cursor: pointer;
    display: flex;
}

.btm_box {
    display: flex;
    gap: 20px;
}

.btn_two {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f9c000;
    border-radius: 4px;
    border: 2px solid #f9c000;
    color: #000;
    font-family: 'RobotoCondensed';
    letter-spacing: 0.04em;
    font-size: 16px;
    text-align: center;
    line-height: 1em;
    padding: 0 8px 0 8px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    height: 56px;
    width: 220px;
    padding: 0 15px 0 15px;
}

.btn_two:hover,
.btnTwo:hover {
    background-color: #FFA500;
}

.btnTwo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid #f9c000;
    color: #000;
    font-family: 'RobotoCondensed';
    letter-spacing: 0.04em;
    font-size: 16px;
    text-align: center;
    line-height: 1em;
    padding: 0 8px 0 8px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    height: 56px;
    width: 320px;
    padding: 0 15px 0 15px;
}

/* ------------------------section_thre -------------------*/

.section_thre {
    width: 100%;
    min-height: 708px;
    text-align: center;
    background-image: url(../imeges/section4-bg-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;


}

.blok_thre {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.title_thre {
    font-family: 'Roboto';
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: start;
}

.list_thre {
    display: flex;
}

.list_thre.svg {
    fill: #f9c000;
}

.title_thre_box {
    display: flex;
    flex-direction: column;
    width: 448px;
    margin-left: 16px;
}

.svg_thre {
    fill: #f9c000;
    border: 2px solid #f9c000;
    border-radius: 50%;
}

.title_name {
    font-family: 'Roboto';
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 20px;
    text-align: start;
}

.text_thre {
    font-family: 'Roboto';
    color: #fff;
    font-weight: 300;
    line-height: 1.3em;
    padding-bottom: 20px;
    overflow: hidden;
    text-align: start;
    position: relative;
    margin-bottom: 34px;
}

.text_thre::after {
    content: '';
    width: 180px;
    height: 2px;
    background-color: #f9c000;
    position: absolute;
    left: 0;
    bottom: 0;
    
}

/* -----------------------section_foor------------------- */

.section_foor {
    padding: 50px 0 50px 0;
}

.title_under {
    display: block;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.title_foor {
    font-family: 'Roboto', sans-serif;
    color: #293141;
    font-size: 36px;
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;
    padding: 0 10px 20px 10px;
}

.underline {
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #006dca;
    left: 44%;
    bottom: 0;

}

.text_foor {
    font-family: 'Roboto', sans-serif;
    color: #28303f;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

.slider_line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 10px;
    
}

.slider_foor {
    cursor: pointer;
    max-width: 245px;
    display: block;
    
}

.list_wrap {
    margin-left: auto;
    margin-right: auto;
}

.slider_img {
    box-shadow: -10px -10px 0 #e7ecf0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    height: 280px;
}

.text_p {
    font-family: 'RobotoCondensed';
    color: #006dca;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.3em;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    min-height: 32px;
}

.item_a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.click_down {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f9c000;
    border-radius: 4px;
    border: 2px solid #f9c000;
    color: #000;
    font-family: 'RobotoCondensed';
    letter-spacing: 0.04em;
    font-size: 14px;
    text-align: center;
    line-height: 1em;
    padding: 0 8px 0 8px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    width: 130px;
    min-height: 40px;
    left: 20%;
}

.click_down:hover,
.click_down:focus {
    background-color: #FFA500;
}

.svg_down {
    width: 14px;
    height: 14px;
}

.text_a {
    color: #006dca;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3em;
    text-decoration: transparent;
    text-align: center;
    min-height: 36px
}

.click_btn {
    background-color: #f9c000;
    border: 2px solid;
    border-radius: 4px;
    color: #000;
    font-family: 'RobotoCondensed';
    letter-spacing: 5px;
    font-size: 14px;
    text-align: center;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;

}


/* -------------------------section_five------------------------ */

.section_five {
    background-image: url(../imeges/b5493f24c2eabd85724542307f7c7e83.png);
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    padding: 90px 0 90px 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.form_flex {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 25px 0;

}

.form_flex_h {
    display: flex;
    flex-direction: column;
    align-content: normal;
}

.form_title {
    font-family: 'RobotoCondensed';
    font-size: 48px;
    line-height: 1em;
    font-weight: 700;
    color: #293141;
    margin-bottom: 27px;
}


.form_text {
    width: 404px;
    color: #000;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.5em;
    position: relative;

}

.form_modal {
    width: 404px;
    border-radius: 4px;
    border: 2px black;
}

.user_menu {
    position: relative;
}

.servants_form {
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 5px;
}

.form_icon {
    position: absolute;
    transition: all .3s;
    fill: #2E2F42;
    top: 50%;
    left: 75%;
}

.serv_input {
    width: 100%;
    height: 36px;
    display: flex;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #bbb;
    background-color: #fff;
    border-radius: 4px;
    color: #000;
    max-width: 100%;
    outline: none;
    transition: all .3s;
    font-family: inherit;
    padding: 0 14px 0 14px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    outline: transparent;

}

.name_form {
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 5px;
}

.name_input {
    width: 100%;
    height: 36px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #bbb;
    background-color: #fff;
    border-radius: 4px;
    color: #000;
    max-width: 100%;
    outline: none;
    transition: border-color .15s ease-in-out;
    font-family: inherit;
    padding: 0 18px 0 18px;
    margin-bottom: 20px;

}

.tel_form {
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 5px;

}

.tel_input {
    width: 100%;
    height: 36px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #bbb;
    background-color: #fff;
    border-radius: 4px;
    color: #000;
    max-width: 100%;
    outline: none;
    transition: border-color .15s ease-in-out;
    font-family: inherit;
    padding: 0 18px 0 18px;
    margin-bottom: 20px;
}

.click_down_form {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f9c000;
    border-radius: 4px;
    border: 2px solid #f9c000;
    color: #000;
    font-family: 'RobotoCondensed';
    letter-spacing: 0.04em;
    font-size: 14px;
    text-align: center;
    line-height: 1em;
    padding: 0 8px 0 8px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    width: 75%;
    min-height: 40px;
    
}

/*-------------------------- section_six---------------------- */

.cont_box {
    display: flex;
    justify-content: space-between;
    /* padding: 50px 0 50px 0; */
    /* opacity: 1; */
    
    /* overflow: hidden; */

}

.slider_row {
    display: flex;
    width: 200px;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
    /* width: 800px; */
    transition: all .1s;
}

.slider_line_comp {
    display: flex;
    
    width: 200px;
    /* padding: 25px 10px 25px 10px; */

}
.slider_btn_left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_btn_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_btn_left,
.slider_btn_right:hover {
    cursor: pointer;
}

/* -----------------------------footer------------------------------- */

.footer {
    background-color: #293141;
    padding: 30px 0 30xp 0;
}

.footer_up {
    width: 100%;
    background-color: #37475a;
    padding: 10px 0 10px 0;
    margin-bottom: 30px;
}

.btn_up {
    font-family: 'RobotoCondensed';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    display: flex;
    color: #fff;
    background-color: #37475a;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: all .3s;
    margin-left: auto;
    margin-right: auto;
}

.btn_item:hover,
.btn_item:focus {
    color: #f9c000;
    fill: #f9c000;
}

.logo_footer {
    margin-bottom: 10px;
    display: block;
    max-width: 150px;
}

.text_icon {
    color: #abadb1;
    font-size: 14px;
    font-weight: 300;
}


.btn_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer_cont {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    position: relative;
}

.footer_cont::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ebebeb;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
}


.use {
    width: 22px;
    height: 22px;
}

.list_footer {
    display: flex;
    flex-wrap: wrap;
    
}

.list_footer_nav {
    display: flex;
    align-items: center;
    width: 50%;
    
}

.footer_a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    font-weight: 300;
    font-family: 'Roboto';
}

.btn_svg {
    fill: #fff;
    transition: all .3s;
    cursor: pointer;
}

.footer_nav_inf {
    display: flex;

}

.footer_nav_map {
    display: flex;
}

.footer_map {
    display: flex;
    flex-direction: column;
    width: 266px;
}

.svg_map {
    fill: #f9c000;
    margin-right: 10px;
}

.nav_footer {
    display: flex;
}

.title_footer {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3em;
    color: #abadb1;
    margin-bottom: 5px;
}

.text_item {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3em;
    color: #fff;
    margin-bottom: 10px;
}

.item_foter {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3em;
    color: #fff;
    text-decoration: none;
}

.item_foter:hover {
    color: #f9c000;
}

.blok_bootom {
    display: flex;
    justify-content: space-between;
}

.text_blok {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Roboto';
    padding: 0 10px 20px 10px;
}

.footer_blok {
    display: flex;
    align-items: center;
    fill: #b6202a;
    font-size: 12px;
    font-weight: 300;
    padding: 0 10px 20px 10px;
}

.footer_blok_n {
    font-family: 'Roboto';
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    
}

