html {
    box-sizing: border-box;
}

* *::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'RobotoCondensed';
    color: #434455;
    margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    margin-left: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
    height: auto;
}

.list {
    display: block;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    padding: 0;
}

.container {
    width: 1160px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* ---------------------------header---------------------- */

/* --------------------section_one --------------------*/

.section_one {
    width: 100%;
    min-height: 840px;
    background-color: #f0f2f4;
    text-align: center;
    background-image: url(../imeges/section1-bg-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;


}

/*--------------------------section_two---------------------- */

.two {
    width: 100%;
    background-color: #f0f2f4;
    padding-bottom: 50px;

}

.section_two {
    width: 100%;
    height: 535px;
    background-image: url(../imeges/section2-bg-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;

}

.title_section_two {
    color: #293141;
    font-family: 'Roboto', Condensed;
    font-size: 48px;
    line-height: 1em;
    max-height: 2em;
    overflow: hidden;
    font-weight: 600;
    margin-bottom: 22px;
}

.section_flex {
    display: flex;
}

.text_section_two {
    color: #000;
    font-size: 24px;
    font-weight: 300;
    padding: 0 0 0 110px;
    margin-bottom: 22px;

}

.text_section {
    width: 552px;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    position: relative;

}

.text_viem p {
    margin: 1em 0;
}

.slider_clik {
    position: relative;
    display: block;
    user-select: none;
    touch-action: pan-y;
}

.slick_role {
    width: 596px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    left: 0;
    top: 0;
}

.ul_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.li_galary {
    position: relative;
    cursor: pointer;
    display: flex;
}

/* ------------------------section_thre -------------------*/

.section_thre {
    width: 100%;
    min-height: 708px;
    text-align: center;
    background-image: url(../imeges/section4-bg-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;


}

/* -----------------------section_foor------------------- */

.section_foor {
    padding: 50px 0 50px 0;
}

.title_under {
    display: block;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.title_foor {
    font-family: 'Roboto', sans-serif;
    color: #293141;
    font-size: 36px;
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;
    padding: 0 10px 20px 10px;
}

.underline {
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #006dca;
    left: 44%;
    bottom: 0;

}

.text_foor {
    font-family: 'Roboto', sans-serif;
    color: #28303f;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

.slider_line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 10px;
    
}

.slider_foor {
    display: flex;
    justify-content: center;
    cursor: pointer;
    max-width: 245px;
    display: inline-block;
    border-left: 6px salmon;
    
}

.list_wrap {
    margin-left: auto;
    margin-right: auto;
}

.slider_img {
    box-shadow: -10px -10px 0 #e7ecf0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    height: 280px;
}

.text_p {
    font-family: 'RobotoCondensed';
    color: #006dca;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.3em;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    min-height: 32px;
}

.item_a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.click_down {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f9c000;
    border-radius: 4px;
    border: 2px solid #f9c000;
    color: #000;
    font-family: 'RobotoCondensed';
    letter-spacing: 0.04em;
    font-size: 14px;
    text-align: center;
    line-height: 1em;
    padding: 0 8px 0 8px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    width: 130px;
    min-height: 40px;
    left: 20%;
}

.click_down:hover,
.click_down:focus {
    background-color: #FFA500;
}

.svg_down {
    width: 14px;
    height: 14px;
}

.text_a {
    color: #006dca;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3em;
    text-decoration: transparent;
    text-align: center;
    min-height: 36px
}

.click_btn {
    background-color: #f9c000;
    border: 2px solid;
    border-radius: 4px;
    color: #000;
    font-family: 'RobotoCondensed';
    letter-spacing: 5px;
    font-size: 14px;
    text-align: center;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;

}


/* -------------------------section_five------------------------ */

.section_five {
    background-image: url(../imeges/b5493f24c2eabd85724542307f7c7e83.png);
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    padding: 90px 0 90px 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.form_flex {
    display: flex;
    justify-content: space-between;

}

.form_flex_h {
    display: flex;
    flex-direction: column;
    align-content: normal;
}

.form_title {
    font-family: 'RobotoCondensed';
    font-size: 48px;
    line-height: 1em;
    font-weight: 700;
    color: #293141;
    margin-bottom: 27px;
}


.form_text {
    width: 404px;
    color: #000;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.5em;
    position: relative;

}

.form_modal {
    width: 352px;
    border-radius: 4px;
    border: 2px black;
}

.servants_form {
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 5px;
}

.serv_input {
    width: 100%;
    height: 36px;
    display: flex;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #bbb;
    background-color: #fff;
    border-radius: 4px;
    color: #000;
    max-width: 100%;
    outline: none;
    transition: all .3s;
    font-family: inherit;
    padding: 0 14px 0 14px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

}

.name_form {
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 5px;
}

.name_input {
    width: 100%;
    height: 36px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #bbb;
    background-color: #fff;
    border-radius: 4px;
    color: #000;
    max-width: 100%;
    outline: none;
    transition: border-color .15s ease-in-out;
    font-family: inherit;
    padding: 0 18px 0 18px;
    margin-bottom: 20px;

}

.tel_form {
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 5px;

}

.tel_input {
    width: 100%;
    height: 36px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #bbb;
    background-color: #fff;
    border-radius: 4px;
    color: #000;
    max-width: 100%;
    outline: none;
    transition: border-color .15s ease-in-out;
    font-family: inherit;
    padding: 0 18px 0 18px;
    margin-bottom: 20px;
}

.click_down_form {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f9c000;
    border-radius: 4px;
    border: 2px solid #f9c000;
    color: #000;
    font-family: 'RobotoCondensed';
    letter-spacing: 0.04em;
    font-size: 14px;
    text-align: center;
    line-height: 1em;
    padding: 0 8px 0 8px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    width: 75%;
    min-height: 40px;
    
}

/*-------------------------- section_six---------------------- */

.click_left {

}

.click_riet {}

.slider_row {
    display: flex;
}

/* -----------------------------footer------------------------------- */

.footer {
    background-color: #293141;
    padding: 30px 0 30xp 0;
}

.footer_up {
    width: 100%;
    background-color: #37475a;
    padding: 10px 0 10px 0;
}

.btn_up {
    font-family: 'RobotoCondensed';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    display: flex;
    color: #fff;
    background-color: #37475a;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: all .3s;
    margin-left: auto;
    margin-right: auto;
}

.btn_item:hover,
.btn_item:focus {
    color: #f9c000;
    fill: #f9c000;
}


.btn_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.use {
    width: 22px;
    height: 22px;
}

.btn_svg {
    fill: #fff;
    transition: all .3s;
    cursor: pointer;
}

/* .btn_svg:hover,
.btn_svg:focus {
    fill: #f9c000;
} */